p {
    text-align: center;
    position: relative;
    top: 43%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 659px){
    div {
        display: flex;
        flex-wrap: wrap;
    }

    main > div > ul:nth-child(2){
        display: flex;
        flex-wrap: wrap;
    }
}

@media(min-width: 660px){
    div {
        display: flex;
        flex-wrap: wrap;
    }

    main > div > ul{
        display: flex;
        flex-wrap: wrap;
    }
}

@media(min-width: 960px){
    div {
        display: flex;
        flex-wrap: wrap;
    }

    div > ul:first-child, div > ul:nth-child(2){
        display: flex;
    }
}

