@media(max-width: 659px){
		main {
				width: 480px;
		}

		ul {
				width: 480px;
			}

		main > ul:first-child{
				height: 75px;
		}

    main > ul:first-child > li{
        background-color: rgba(255, 0, 0, 0.87);
    }

    main > ul:nth-child(2){
        height: 150px;
    }

    main > ul:nth-child(2) > li{
        background-color: rgb(255, 94, 0);
    }
    div {
        height: 830px;
    }

    main > div > ul:first-child > li{
        height: 50%;
        width: 100%;
        background-color: orange;
    }
    main > div > ul:first-child{
        height: 250px;
    }

    main > div > ul:first-child > li:last-child{
        background-color: yellow;    
    }

    main > div ul:nth-child(2){
        height: 500px;
    }

    main > div > ul:nth-child(2) > li{
        height: 250px;
        width: 50%;
        background-color: rgb(109, 128, 0);
    }

    main > div > ul:nth-child(2) > li:nth-child(2){
        background-color: rgb(0, 128, 68);
    }

    main > div > ul:nth-child(2) > li:nth-child(3){
        background-color: rgb(0, 140, 255);
    }

    main > div > ul:nth-child(2) > li:last-child{
        background-color: blue;
    }

    main > div > ul:last-child{
        height: 80px;
    }

    main > div > ul:last-child > li{
        height: 100%;
        background-color: purple;
		}
	}

@media(min-width: 660px){
	main {
		width: 660px;
	}
	
	ul {
		width: 100%;
	}

	main > ul:first-child > li{
			height: 100px;
			background-color: #000000000;
	}

	main > ul:nth-child(2){
			height: 100px;
	}

	main > ul:nth-child(2) > li{
			background-color: #00000011;

	}

	div {
			height: 500px;
			width: 660px;
	}

	main > div > ul:first-child{
			height: 100px;
	}

	main > div > ul:first-child > li{
			width: 50%;
			background-color: #00000022;

	}

	main > div > ul:first-child > li:last-child{
			background-color: #00000033;
	}

	main > div > ul:nth-child(2) {
			height: 250px;
	}

	main > div > ul:nth-child(2) > li{
			width: 25%;
			background-color: #00000044;
	}

	main > div > ul:nth-child(2) > li:nth-child(2){
			background-color: #00000055;
	}

	main > div > ul:nth-child(2) > li:nth-child(3){
			background-color: #00000066;
	}

	main > div > ul:nth-child(2) > li:last-child{
			background-color: r#00000077;
	}

	main > div > ul:last-child{
			height: 150px;
	}

	main > div > ul:last-child > li{
			width: 100%;
			background-color: #00000088;
	}
}

@media(min-width: 960px){
	main {
		width: 960px;
	}	

	ul {
        width: 960px;
    }

    main > ul:first-child > li{
        height: 100px;
        background-color: purple;
    }

    main > ul:nth-child(2){
        height: 600px;
        width:200px;
    }

    main > ul:nth-child(2) > li{
        background-color: blue;

    }

    div {
        height: 600px;
        width: 760px;
    }

    main > div > ul:first-child{
        height: 200px;
    }

    main > div > ul:first-child > li{
        width: 50%;
        background-color: rgb(0, 140, 255);

    }

    main > div > ul:first-child > li:last-child{
        background-color: rgb(0, 128, 68);
    }

    main > div > ul:nth-child(2) {
        height: 250px;
    }
    
    main > div > ul:nth-child(2) > li{
        width: 25%;
        background-color: rgb(109, 128, 0);
    }

    main > div > ul:nth-child(2) > li:nth-child(2){
        background-color: yellow;
    }

    main > div > ul:nth-child(2) > li:nth-child(3){
        background-color: orange;
    }

    main > div > ul:nth-child(2) > li:last-child{
        background-color: rgb(255, 94, 0);
    }

    main > div > ul:last-child{
        height: 150px;
    }

    main > div > ul:last-child > li{
        width: 100%;
        background-color: rgba(255, 0, 0, 0.87);
    }
}